<script src="/assets/js/resume.js"></script>
<div class="resume-card">
    <div class="wrapper-small">
        <div class="resume-grid resume-card-padding">
            <img class="resume-card-img" src="{{ '/assets/img/dummy-profile-pic.jpg' | relative_url }}">
            <div class="resume-card-text site-color">
                <h1>Sasha Junker</h1>
                <h4>IT-Consultant and Leader</h4>
                <div class="resume-contact-point">
                    <b>Phone:</b>
                    <p>
                        +45 12 34 56 78
                    </p>
                </div>
                <div class="resume-contact-point">
                    <b>Email:</b>
                    <p>
                        test@test.com
                    </p>
                </div>
                <div class="resume-contact-point">
                    <b>Location:</b>
                    <p>
                        Copenhagen, Denmark, or whereever my travels take me
                    </p>
                </div>
                <div class="resume-contact-point">
                    <b>Date of birth:</b>
                    <p>
                        January 1st, 1990
                    </p>
                </div>
            </div>
            <div class="site-color hide-on-desktop">
                <div class="social-links brand-color-dark">
                    {%- include social-light.html -%}
                </div>
            </div>
        </div>
    </div>
        <!--
        <a href="" class="typewrite" data-period="2000" data-type='[ "Cunsultant.", "Leader.", "Musician.", "Poet." ]'>
            <span class="wrap"></span>
        </a>
    -->
</div>