<div class="resume-headline background-color">
    <div class="wrapper">
        <div class="align-center">
            <h1>Education</h1>
        </div>
    </div>
</div>
<div class="background-color">
    <div class="wrapper">
        <div class="resume-timeline">
            <div class="timeline-item-year">
                2007 - 2008
            </div>
            <div class="timeline-item-headline">
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="4" />
                </svg>
                <p>Skamlingsbanke efterskole</p>
            </div>
            <div class="timeline-item-position">
                Student
            </div>
            <div class="timeline-text timeline-item-border">
                <p>A boarding school with a focus on music</p>
            </div>
        </div>
    </div>
</div>
<div class="background-color bottom-border">
    <div class="wrapper">
        <div class="resume-timeline">
            <div class="timeline-item-year">
                2006 - 2007
            </div>
            <div class="timeline-item-headline">
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="4" />
                </svg>
                <p>Rejsby efterskole</p>
            </div>
            <div class="timeline-item-position">
                Student
            </div>
            <div class="timeline-text timeline-item-border">
                <p>A boarding school with a focus on politics and internalisation</p>
            </div>
        </div>
    </div>
</div>