<div class="resume-headline background-color">
    <div class="wrapper">
        <div class="align-center">
            <h1>Experience</h1>
        </div>
    </div>
</div>
<div class="background-color">
    <div class="wrapper">
        <div class="resume-timeline">
            <div class="timeline-item-year">
                2020 - present
            </div>
            <div class="timeline-item-headline">
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="4" />
                </svg>
                <p>Netcompany</p>
            </div>
            <div class="timeline-item-position">
                Senior IT-Consultant
            </div>
            <div class="timeline-text timeline-item-border">
                <p>Responsbile for a lot of important things.</p>
            </div>
        </div>
    </div>
</div>
<div class="background-color bottom-border">
    <div class="wrapper">
        <div class="resume-timeline">
            <div class="timeline-item-year">
                2014
            </div>
            <div class="timeline-item-headline">
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="4" />
                </svg>
                <p>Telecare</p>
            </div>
            <div class="timeline-item-position">
                Phone techinician
            </div>
            <div class="timeline-text timeline-item-border">
                <p>Responsbile for a lot of things.</p>
            </div>
        </div>
    </div>
</div>