<div class="resume-headline brand-color-dark">
    <div class="wrapper">
        <div class="align-center font-w-light">
            <h1>Skills</h1>
        </div>
    </div>
</div>
<div class="brand-color-dark">
    <div class="wrapper">
        <div class="resume-grid">
            <div class="resume-skill">
                <p>
                    Python
                </p>
                <div class="resume-skill-grid">
                    <div class="fill">
                        <svg height="20" width="20">
                            <circle cx="10" cy="10" r="10" />
                        </svg>
                    </div>
                    <div class="fill">
                        <svg height="20" width="20">
                            <circle cx="10" cy="10" r="10" />
                        </svg>
                    </div>
                    <div class="empty">
                        <svg height="20" width="20">
                            <circle cx="10" cy="10" r="10" />
                        </svg>
                    </div>
                    <div class="empty">
                        <svg height="20" width="20">
                            <circle cx="10" cy="10" r="10" />
                        </svg>
                    </div>
                    <div class="empty">
                        <svg height="20" width="20">
                            <circle cx="10" cy="10" r="10" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="resume-skill">
                <p>
                    C++
                </p>
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="10" />
                </svg>
                <svg height="10" width="10">
                    <circle cx="5" cy="5" r="10" />
                </svg>
            </div>
        </div>
    </div>
</div>